//Variables
// $primary-dark: #492c18;
// $primary-dark: #0f0904;
// $primary-dark: #27170d;
// $primary: #3a2313;
// $contrast: #5b381a;
// $contrast-lt: #e5c1a3;
// $off-white: #fefefe;

// Variables
$primary-dark: #fefefe;
$primary: #3a2313;
$contrast: #5b381a;
$contrast-lt: #e5c1a3;
$off-white:  #492c18;
